<div id="recipes" class="transitions-enabled">
  <% @recipes.each do |recipe| %>
    <div class="box panel panel-default">
      <%= image_tag recipe.image.url(:medium) %>
        <div class="panel-body">
          <%= recipe.title %>
          <%= recipe.user.email if recipe.user %>
          <%= recipe.ingredients %>
          <%= link_to 'Show', recipe %>
          <% if recipe.user == current_user %>
          <%= link_to 'Edit', edit_recipe_path(recipe) %>
          <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' } %>
          <% end %>
      </div>
    </div>
    <% end %>
</div>