<%= link_to '< Back', recipes_path %>
<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @recipe.image.url(:medium) %>
			</div>
			<div class="panel-body">
				<strong><%= @recipe.title %></strong>
				<br />Contributed by Chef <%= @recipe.user.username if @recipe.user %>
				<p>
					<strong>Ingredients:</strong>
					<%= @recipe.ingredients %>
				</p>
			
			
				<% if @recipe.user == current_user %>
					<%= link_to 'Edit', edit_recipe_path(@recipe) %>
				<% end %>
			</div>
		</div>
	</div>
</div>